---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: 'Open Sans', sans-serif;;//Helvetica, Arial, sans-serif;
$headers-font-family: Ubuntu, sans-serif;//Helvetica, Arial, sans-serif;
$site-title-font-family: 'Italiana', sans-serif;//Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
//'Lily Script One' |Noto Serif|Lobster|Fugaz One|Aladin|Cookie|Abril Fatface|Italiana|Bentham
$spacing-unit:     30px;

$text-color-dark-link: #5c5c80;
$text-color-dark-visited: #5c5c5c;
$text-color-dark: #4C4C4C;
$text-color:       #4C4C4C;
$background-color: #f5f5f5;
$background-color-transparent: rgba(245, 245, 245, 0.5);
$brand-color: #960100;
$brand-color-transparent:rgba(150, 1, 0, 0.75);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
