---
layout: default
title: About
permalink: /about/
weight : 1
---
{% for member in site.data.members %}
<div class="footer-col-wrapper">
    <div class="footer-col  footer-col-1">
        <b><p class="about">{{ member.name }}</p></b>
        <p class="about-description">{{ member.description }}</p>
        <p> I'm a passionate developer and tech lead with 10+ years of experience in delivering scalable, high-performance systems.</p>
        <p>Leading diverse, and even cross-continental teams has reinforced my belief that combining technical excellence with inclusive and safe culture drives both individual growth and business success. I focus on outcomes over output, creating transparency and alignment that enables teams to autonomously make technical decisions and deliver measurable business value.</p>
    </div>
    <div class="footer-col  footer-col-3">
        <ul class="social-media-list">
            {% if member.github_username %}
            <li>
                <a href="https://github.com/{{ member.github_username }}" rel="noreferrer" target="_blank">
                    <i class="fa fa-github fa-lg"></i>
                    <span class="username">{{ member.github_username }}</span>
                </a>
            </li>
            {% endif %}
            {% if member.linkedin_username %}
            <li>
                <a href="https://linkedin.com/in/{{ member.linkedin_username }}" rel="noreferrer" target="_blank">
                    <i class="fa fa-linkedin-square fa-lg"></i>
                    <span class="username">{{ member.linkedin_username }}</span>
                </a>
            </li>
            {% endif %}
            {% if member.stackoverflow_username %}
            <li>
                <a href="https://stackoverflow.com/users/3210551/chrisport" rel="noreferrer" target="_blank">
                    <i class="fa fa-stack-overflow fa-lg"></i>
                    <span class="username">{{member.stackoverflow_username}}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endfor %}
