<footer class="site-footer">

    <div class="wrapper">
        {% for member in site.data.members %}
        {% if member.stackoverflow_username %}
        <span class="social-media-logo">
            <a rel="noreferrer" href="http://stackoverflow.com/users/3210551/chrisport" target="_blank">
                <i class="fa fa-stack-overflow fa-2x"></i>
            </a>
          </span>
        {% endif %}
        {% if member.linkedin_username %}
        <span class="social-media-logo">
              <a rel="noreferrer"  href="http://tr.linkedin.com/in/{{ member.linkedin_username }}" target="_blank">
                  <i class="fa fa-linkedin-square fa-2x"></i>
              </a>
          </span>
        {% endif %}
        {% if member.github_username %}
        <span class="social-media-logo">
              <a rel="noreferrer"  href="https://github.com/{{ member.github_username }}" target="_blank">
                  <i class="fa fa-github fa-2x"></i>
              </a>
          </span>
        {% endif %}
        {% if member.twitter_username %}
        <span class="social-media-logo">
              <a rel="noreferrer"  href="https://twitter.com/{{ member.twitter_username }}" target="_blank">
                  <i class="fa fa-twitter fa-2x"></i>
              </a>
          </span>
        {% endif %}


        {% endfor %}

    </div>
    <script>
      console.log("If you're looking for cookies, there are no cookies here.");
    </script>
</footer>

