<header class="site-header">
    <div class="wrapper nav-wrap">
        <a class="brand" href="{{ "/" | prepend: site.baseurl }}">Christoph Portmann</a>
        <nav class="site-nav">
            {% assign sorted_pages = site.pages | sort: "weight" %}
            {% for page in sorted_pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
            {% endfor %}
        </nav>
    </div>
</header>
