/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 200px;
  background: url("/images/bg.png") no-repeat center;
  background-size: 100% auto;
  color: $grey-color-dark;
  // Positioning context for the mobile navigation icon
  position: relative;
  @include media-query($on-laptop) {
    background-size: 100% auto;
  }
}

.site-title {
  font-size: 76px;
  line-height: 76px;
  margin: 5% 5% 0 0;
  letter-spacing: -1px;
  float: left;
  color: #f5f5f5;
  font-family: $site-title-font-family;

  &,
  &:visited {
    color: #f5f5f5;
  }

  &:hover {
    text-decoration: none;
  }
}

.site-nav {
  float: left;
  line-height: 76px;
  margin-top: 15%;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: WHITE;
    line-height: $base-line-height;
    font-size: $base-font-size*1.62;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    float: left;
    line-height: 76px;
    margin-top: 5%;
    text-align: right;
    background-color: $brand-color-transparent;
    border-radius: 4px;

    .menu-icon {
      display: block;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 6px;
      text-align: center;

      > svg {
        width: 18px;
        height: 14px;

        path {
          fill: $background-color;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background-color: #f5f5f5;
  color: #f5f5f5;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list {
  list-style: none;
  margin-left: 0;
}

.about {
  color: $text-color-dark;
}

.about-description {
}

.social-media-list {
  display: inline;

  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    margin-bottom: 10px;
  }

  a:link {
    color: $text-color-dark-link;
  }
  a:visited {
    color: $text-color-dark-visited;
  }
  a:hover {
    color: $brand-color-transparent;
  }
}

.social-media-logo {
  color: #f5f5f5;
  padding-left: 15px;
  float: right;

  a:link {
    color: $text-color-dark-link;
  }
  a:visited {
    color: $text-color-dark-visited;
  }
  a:hover {
    color: $brand-color-transparent;
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width: calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width: calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width: calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Post list content
 */
.page-content {
  padding: $spacing-unit 0;
}

.post-list-link {
  a:hover, a:visited {
    color: #f5f5f5;
    text-decoration: none;
  }
}

.post-list {
  margin: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
  > ul {
    padding-left: 0;
  }

  a:link {
    color: $text-color-dark-link;
  }
  a:visited {
    color: $text-color-dark-visited;
  }
}

.post-meta-top {
  font-size: $small-font-size;
  color: $text-color-dark;
  line-height: 28px;
  vertical-align: bottom;
}

.post-meta-title {
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 25px;
  color: $text-color-dark;
}

.post-meta-bottom {
  font-size: $small-font-size;
  color: $text-color-dark;
  a:visited {
    color: $text-color-dark;
  }
  a:hover {

  }
}

hr {
  width: 100%;
  height: 1px;
  background: #fff
}

/**
 * Posts
 */
.disclaimer {
  padding: 1em;
  margin-bottom: $spacing-unit;
  background: #fde9e9;
  border-style: dashed;
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 1;

  h1 {
    font-weight: normal;
    font-family: $headers-font-family;
  }

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 35px;
    font-family: $headers-font-family;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 35px;
    font-family: $headers-font-family;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-weight: bold;
    font-size: 20px;
    font-family: $headers-font-family;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  a:link {
    color: $brand-color-transparent;
  }
  a:visited {
    color: $brand-color-transparent;
  }
  a:hover {
    color: $text-color-dark;
  }
}

/**
 * Apps
 */
.app-header {
  margin-bottom: $spacing-unit;
}

.app-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.code-logo {
  height: 127px;
  width: 127px;
}

.code-list {
  margin-left: 0;
  list-style: none;
  float: left;
}

.code-list-item {
  height: 150px;
  display: table;
  float: left;
}

.code-list-item-inner {
  padding-left: 25px;
  max-width: 100%;
  max-height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.app-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;
    font-family: $headers-font-family;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    font-family: $headers-font-family;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;
    font-family: $headers-font-family;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
